body {
    background-color: pink;
    color: crimson; /*change text color*/
}

h1 {
    background-color: red;
    font-size: 20px;
}

img {
    border: 5px solid red;
}

#title6 { /*id (used for one element only)*/
    background-color: green;
}

.group1 { /*class (used for more than one element)*/
    background-color: gold;
}

button {
    width: 80px; /*width: 100%; (100% of the screen size)*/
}

* { /*access to all the elements*/
    direction: ltr; /*direction: rtl; (the content start from the right)*/
    text-align: center;
    margin: auto;
}
